@keyframes show{
    from{
        width: 100%;
    }

    to{
        width: 0px;
    }
}

@keyframes show-2{
    from{
        height: 100%;
    }

    to{
        height: 0px;
    }
}

@keyframes appear{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes wiggle{
    0%{transform: rotate(0deg);}
    10%{transform: rotate(-8deg);}
    20%{transform: rotate(8deg);}
    40%{transform: rotate(-8deg);}
    60%{transform: rotate(8deg);}
    100%{transform: rotate(0deg);}
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.6);
    }

    100%{
        transform: scale(1);
    }
}

